<h2><%= @action.text %>
<small>
<%= link_to edit_project_action_url do %>
  <span class="glyphicon glyphicon-pencil" title='Edit this Action'></span>
<% end %>
<%= link_to project_action_url, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }  do %>
  <span class='glyphicon glyphicon-remove' title='Delete this Action'>
<% end %>
<%= link_to new_action_note_url(@project, @action) do %>
  <span class='glyphicon glyphicon-edit' title='Add a Note'>
<% end %>
</small>

</h2>
<p>Context: <%= @action.context %></p>
<p>Due: <%= "#{@action.due_date} at #{@action.due_time}" %></p>
<p>Completed: <%= @action.completed %> </p>
<br />

<p>Notes:
<%= link_to new_action_note_url(@project, @action) do %>
  <span class="glyphicon glyphicon-plus" title="Add a new Note"></span>
<% end %>
</p>


<%= link_to "<-- Back to all Actions", actions_url %>
