<%= render 'projects/errors', object: @project %>
<%= form_for @project do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-md-3' %>
    <div><%= f.text_field :name %></div>
  </div>

  <div class="form-group">
    <%= f.label :outcome, class: 'control-label col-md-3' %>
    <div><%= f.text_field :outcome %></div>
  </div>

  <div class="form-group">
    <%= f.label :due_date, class: 'control-label col-md-3' %>
    <div><%= f.date_select :due_date, prompt: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :due_time, class: 'control-label col-md-3' %>
    <div><%= f.time_select :due_time, prompt: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :completed, class: 'control-label col-md-3' %>
    <div><%= f.check_box :completed %></div>
  </div>

  <div class="form-group">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% if !@project.new_record? %>
      <%= link_to "Delete", project_url, method: :delete, class: "btn btn-primary", data: { confirm: "Are you sure? This cannot be undone." } %>
    <% end %>
  </div>

<% end %>
