<h2 class="top-header">All Projects
  <small class="form-inline">
    <input type="text" class="form-control" id="projects-filter" placeholder="Filter By...">
  </small>
  <%= link_to new_project_url do %>
    <button class="btn btn-default pull-right">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  <% end %>
</h2>
<% current_user.projects.each do |project| %>
<div class="panel panel-default project">
  <%= link_to project_url(project) do %>
    <%= content_tag :div, class: "panel-heading project-title", :title => "Go to this Project" do %>
      <span class="glyphicon glyphicon-check completed-<%= project.completed %>"></span> -
      <h4><%= project.name %> |
        <small><%= project.outcome %></small>
      </h4>
      <span class="due-at pull-right">
        Due <%= project.due_date %> at <%= project.due_time %>
        <span class="glyphicon glyphicon-chevron-right" title="Notes" ></span>
      </span>
    <% end #div %>
  <% end #link to project %>

  <ul class="list-group">
  <% project.actions.each do |action| %>
    <li class="list-group-item action">
      <%= check_box_tag("action-#{action.text}", action.completed, action.completed) %> <%= action.text %>
      <span class="due-at pull-right">
        <span class="label label-default"><%= action.context %></span>
        Due <%= action.due_date %> at <%= action.due_time %>
        <%= link_to action_url(action) do %>
          <span class="glyphicon glyphicon-chevron-right" title="Notes"></span>
        <% end %>
      </span>
    </li>
  <% end #actions iterator %>
  </ul>
</div>
<% end #projects iterator %>

<table>
