<h2><%= @project.name %>
<small>
<%= link_to edit_project_url do %>
  <span class="glyphicon glyphicon-pencil" title='Edit'></span>
<% end %>
<%= link_to project_url, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }  do %>
  <span class='glyphicon glyphicon-remove' title='Delete'>
<% end %>
</small>

</h2>
<p><%= @project.outcome %></p>
<p>Due: <%= "#{@project.due_date} at #{@project.due_time}" %></p>
<p>Completed: <%= @project.completed %> </p>
<br />
<p>Actions:</p>

<%= link_to "<-- Back to Projects", projects_url %>
